@font-face {
  font-family: "lcdFont";
  src: url("./Open\ 24\ Display\ St.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: "nintender";
  src: url("./Nintender-Mm1B.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 40px;
  border: 3px ridge black;
  border-radius: 20px;
  padding: 20px;
  background-color: #00171f;
  background-size: contain;
  color: #ffffff;
}
li {
    font-size: 15px;
    font-family: "nintender";
    color: #ffffff;
    text-align: left;
}
.display-list {
    display: flex;
}
ul {
    width: 50%;
}
input {
  font-size: 45px;
  margin-bottom: 10px;
  font-family: "lcdFont";
  color: #00a8e8;
  background-color: dimgrey;
  text-align: right;
}
button {
  border: none;
  background: #003459;
  color: #ffffff !important;
  font-weight: 100;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  width: 150px;
  height: 60px;
}
button:hover {
  color: #ffffff !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}
